<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/departmentStyle.css}"/>
  <meta charset="UTF-8">
  <title>DepartmentView</title>
</head>
<body>

  <h1>Employee Administration</h1>

  <div class="container">
    <div class="functions">
      <div class="select-dept">
        <span>Department:</span>
        <form th:action="@{/administration}" method="post">
          <select name="deptNo" onchange="submit();">
            <option th:each="department : ${depts}"
                    th:text="${department.getDeptName()}"
                    th:value="${department.getDeptNo()}"
                    th:selected="${department.deptName == selectedDept}">DEPARTMENT
            </option>
          </select>
        </form>
      </div>

      <div class="add-emp">
        <form th:action="@{/employee}" method="get">
          <input type="submit" th:name="add" value="Add employee">
        </form>
      </div>
    </div>

    <table class="data">
      <tr class="table-head">
        <form method="post" th:action="@{/administration/sorted}">
          <th>Name   <input type="submit" value="&duarr;"></th>
        </form>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Emp-No</th>
        <th></th>
      </tr>
      <tr class="mgr">
          <td th:text="${department.getDeptManager().getFirstname() + ', ' + department.getDeptManager().getLastname()}"></td>
          <td th:text="${#temporals.format(department.getDeptManager().getDateOfBirth())}"></td>
          <td th:text="${department.getDeptManager().getGender()}"></td>
          <td th:text="${department.getDeptManager().getEmployeeNo()}"></td>
          <td>Mgr</td>
      </tr>
      <tr th:each="emp : ${employees}" class="content">
        <form th:action="@{/administration/} + ${emp.employeeNo}" method="post">
          <td th:text="${emp.getLastname() + ', ' + emp.getFirstname()}"></td>
          <td th:text="${#temporals.format(emp.getDateOfBirth(), 'dd-MM-yyyy')}"></td>
          <td th:text="${emp.getGender()}"></td>
          <td th:text="${emp.getEmployeeNo()}"></td>
          <td><input type="submit" th:name="id" value="&#10006;"></td>
        </form>
      </tr>
    </table>
  </div>
</body>
</html>