<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/employeeView.css}" />
    <title>EmployeeView</title>
</head>
<body>
    <h1>Employee Form</h1>

    <div class="emp-form">
        <form th:action="@{/employee}" method="post" th:object="${employee}">
            <div class="line">
                <label for="firstname">Firstname:</label>
                <input id="firstname" type="text" th:field="*{firstname}">
            </div>
            <div class="line">
                <label for="lastname">Lastname:</label>
                <input id="lastname" type="text" th:field="*{lastname}">
            </div>
            <div class="line">
                <label for="gender">Gender:</label>
                <input id="gender" type="text" th:field="*{gender}">
            </div>
            <div class="line">
                <label for="birthdate">Birthdate:</label>
                <input id="birthdate" type="text" th:field="*{dateOfBirth}">
            </div>
            <input class="btn" type="submit" value="Add employee to DB" >
        </form>

    </div>
</body>
</html>