<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="viewData.css" rel="stylesheet"/>
    <title>Employee DB Data-View</title>
</head>
<body>
    <form method="post" th:object="${departments}">
        <select name="department" id="department">
            <option value="all">All</option>
            <option th:each="d : ${departments}" ><span th:text="${d.getDeptName()}">DEPARTMENT</span></option>
        </select>
        <button type="submit">Show Data</button>
    </form>

    <div th:each="e : ${employees}">
        <div class="row">
            EmpNr: <span th:text="${e.getEmployeeNo()}">EmpNo</span>
            Lastname: <span th:text="${e.getLastname()}">Lastname</span>
            Firstname: <span th:text="${e.getFirstname()}">Firstname</span>
            Birthdate: <span th:text="${e.getDateOfBirth()}">DateOfBirth</span>
            Gender: <span th:text="${e.getGender()}">Gender</span>
            Department: <span th:text="${e.getDepartment()}"></span>
        </div>
    </div>

</body>
</html>